<section class="container-fluid px-0 ">
    <div class="row no-gutters ">
        <div class="col-md-6">
            <a class="card border-0 rounded-0 text-decoration-none py-md-4" style="background: rgba(254,105,106,0.1);"
                href="#">
                <div class="card-body text-center"><i class="czi-edit h3 mt-2 mb-4 text-primary"></i>
                    <h3 class="h5 mb-1">Read the seccess Storeis</h3>
                    <p class="text-muted font-size-sm">Read Success Stories from our students</p>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="card border-0 rounded-0 text-decoration-none py-md-4" style="background: rgba(78,84,200,0.1);" href="#">
                <div class="card-body text-center"><i class="czi-instagram h3 mt-2 mb-4 text-accent"></i>
                    <h3 class="h5 mb-1">Follow on Instagram</h3>
                    <p class="text-muted font-size-sm">#LearnWirhQuizy</p>
                </div>
            </a>
        </div>
    </div>
</section>


<footer class="footer text-center bg-dark text-light">
    <p>Build for Assignment to submit at <a href="https://lpu.in/">LPU</a> by <a href="#0">Team Name</a>.</p>
    <p>
        <a href="#top">Back to top</a>
    </p>
</footer>