<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" id="#top" href="./index.html">Quiz Application</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#!home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!register">Register</a>
                </li>
            </ul>
        </div>

    </div>
</nav>